body{
    margin: 0;
}
.main-frame{
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 10% 80% 10%;
}

.header{
    grid-column: 1/3;
    background-color: #F1F1F1;
    width: auto;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 5fr 3fr;
    grid-template-rows: 1fr;  
}

.message-main-area{
    grid-column: 1/2;
    /* background-color: #FF0800; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 95%;
}

.chat-tab{
    grid-row: 1/2;
    /* background-color: #9FFF8C; */
}

.chat-tab.light{
    /* background-color: #FF7DC0; */
}

.message-area{
    grid-row: 2/3;
    grid-column: 1/5;
}

.user-list-area{
    grid-row: 2/4;
    grid-column: 2/3;
    /* background-color: aqua; */
}

.input-message-area{
    grid-column: 1/2;
    /* background-color: yellow; */
}

.header-element{
    align-self: center;
    justify-self: center;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    /* position: relative;
    left: 10px;  */
}

.link-text{
    text-decoration: none;
    color:inherit;
    text-align: justify;
}
.link-text:hover{
    text-decoration: underline;
}

.my-messages-link{
    height: 23px;
    width: auto;
    line-height: 23px;
}

.message{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 7px;
}

.number-of-messages{
    border: 2px solid #FF0800;
    border-radius: 15px;
    background-color: #F1F1F1;
    text-align: center;
}

.online-timer{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
}

.time-online{
    padding-left: 10px;
}